@import url('./media.css');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
a:hover {
    color: lightblue;
}
input:focus{
    outline: none;
    -webkit-appearance: none;
    border-bottom: 1px solid gray;
}
input {
    border: none;
    border-bottom: 1px solid gray;
    background-color: transparent;

}
input:disabled {
    color: black;
    background-color: inherit;
    border: none;
}

body {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}
.wrapper {
    width: 80%;
    margin: 0 auto;
}
.btn {
    background-color: lightslategray;
    width: 80px;
    height: 40px;
    border: none;
    cursor: pointer;
}
.btn:hover {
    background-color: rgb(147, 169, 190);
}
.btn-click {
    transform: scale(0.9);
}

.btn__no-active:hover {
    background-color: rgb(215, 236, 255);
}
.user_container {
    display: flex;
    flex-direction: column;
}

.user_container-capture {
    width: 15%;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 1rem;
}

.user_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding-left: 20px;
    border: 1px solid black;
    border-bottom: none;    
    cursor: pointer;
}
.user_item p {
    pointer-events: none;
}

.user_item:last-child {
    border-bottom: 1px solid black;
}
.user_item:hover {
    background-color: rgb(255, 234, 234);
}
.user_item p, .user_item a {
    display: flex;
    align-items: flex-end;
    width: 200px;
    text-align: left;
}

.active_card-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0; 
    width: 100%;
    height: 100vh;
    background-color: rgba(119, 136, 153, 0.5);
    
}
.close_btn {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 30px;
    height: 30px;
    background: url('./img/icons/close.png');
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    cursor: pointer;
}

.active_card-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    width: 50%;
    height: 50%;
    background-color: #fff;
    border-radius: 25px;
}
.user_info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    height: 35%;
}


.user_edit-btns {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20%;
}
.user_save-btn {
    position: absolute;
    top: 110%;
}


.user_page-container {
    width: 100%;
    height: 80vh;
    background-color: rgb(231, 230, 230);
    border-radius: 25px;
}
.user_page-item {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    height: 80%;
}

.user-page-heading {    
    text-align: center;
    padding: 20px;
}