@import url('./media.css');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Mulish:wght@300;400;700&family=Roboto&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
a:hover {
    color: lightblue;
}
input:focus{
    outline: none;
    -webkit-appearance: none;
    border: 1px solid rgb(151, 151, 255);
}
input {
    border: none;
    border-bottom: 1px solid rgb(151, 151, 255);
    background-color: transparent;

}
input:disabled {
    color: black;
    background-color: inherit;
    border: none;
}

body {
    position: relative;
    color: white;
    background: #0e101c;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
  }
.wrapper {
    width: 80%;
    margin: 0 auto;
}
.btn {
    width: 80px;
    height: 40px;
    color: white;
    background-color: inherit;
    border-radius: 10px;
    border: 1px solid gray
}
.btn:hover {
    background-color: rgb(103, 103, 255);
    cursor: pointer;
}
.btn-click {
    transform: scale(0.9);
}

.btn__no-active:hover {
    background-color: rgb(215, 236, 255);
}


.user_heading-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    margin-top: 50px;
    padding: 0 30px;
    background-color: rgb(71, 71, 255);
}
.logout_btn {
    width: 80px;
    height: 40px;
    color: white;
    background-color: inherit;
    border-radius: 10px;
    border: 1px solid gray
}
.logout_btn:hover {
    background-color: rgb(103, 103, 255);
    cursor: pointer;
}


.user_container {
    display: flex;
    flex-direction: column;
}

.user_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding-left: 20px;
    border: 1px solid rgb(151, 151, 255);
    border-bottom: none;    
    cursor: pointer;
}
.user_item p {
    pointer-events: none;
}

.user_item:last-child {
    border-bottom: 1px solid rgb(151, 151, 255);
}
.user_item:hover {
    background-color: #232947;
}
.user_item p, .user_item a {
    display: flex;
    align-items: flex-end;
    width: 200px;
    text-align: left;
}

.active_card-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0; 
    width: 100%;
    height: 100vh;
    background-color: rgba(119, 136, 153, 0.5);
    
}
.close_btn {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    height: 40px;
    background: url('./img/icons/close.png');
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    cursor: pointer;
}

.active_card-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    width: 50%;
    height: 50%;
    background-color: #fff;
    border-radius: 25px;
}
.user_info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    height: 50%;
}
.user_info input {
    font-size: 20px;
    color: white;
    margin-left: 20px;
}
.user_info label {
    font-size: 30px;
    color: white;
    margin-left: 20px;
}


.user_edit-btns {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20%;
}
.user_save-btn {
    position: absolute;
    left: 10%;
    top: 120%;
}

.user_container-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    margin-top: 50px;
    padding: 0 30px;
    background-color: rgb(71, 71, 255);
}

.user_page-container {
    position: relative;
    width: 100%;
    height: 50vh;
    background-color: #0e101c;
    border: 1px solid rgb(151, 151, 255);
}
.user_page-item {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    height: 80%;
}

.user-page-heading {    
    text-align: center;
    padding: 20px;
    margin-bottom: 30px;
}





.login-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50vh;
    height: 45vh;
    color: white;
    margin: 0 auto;
    margin-top: 10%;
    padding: 30px;
    background-color: lightslategray;
    border-radius: 25px;
    box-shadow: 3px 3px 50px 1px rgb(197, 197, 197);
}
.login_heading {
    font-weight: 700;
    font-size: 3em;
    text-align: center;
}
.login_inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    height: 50%;
}
.login_inputs input, .login_inputs label {
    cursor: pointer;
}

.login_inputs input {
    height: 30px;
    padding-left: 15px;
    margin-left: 10px;
    background-color: rgba(255, 255, 255, 0.795);
    border-radius: 10px;
}

.auth_btns {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.auth_btn {
    background-color: rgb(206, 206, 206);
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.auth_btn:hover {
    background-color: rgb(255, 255, 255);
}