@media screen and (max-width: 800px) {
    .active_card-item {
        flex-direction: column-reverse;
        justify-content: center !important;
    }
    .user_edit-btns {
        height: auto !important;
        margin-bottom: 10%;
    }
}